/*************************
Name: Shayema Sultana
Email: shayema141106@gmail.com
Mobile:01712-138303
Country: Bangladesh
*************************/

/*
1.Global CSS
2.Home Page
    - First Section
    - Second Section
    - Third Section
    - Footer Section
3.About Us Page
    - Header Section
    - About Section
    - Footer Section 
4.Contact Us Page
    - Header Section
    - Contact Section
    - Footer Section
*/

/* Theme Global CSS */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}


.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

.pr {
    padding-right: 0 !important;
}

/* Home Page First Section CSS Codes */
.bg-img {
    background: url(../images/header-background.png) no-repeat;
    background-size: cover;
    background-position: 70%;
}

.active {
    color: #faff00 !important;
}

header {
    padding-top: 67px;
}

.navigation-menu {
    float: right;
    margin-top: -47px;
    /*margin-right: 105px;*/
}

.navigation-menu a {
    color: #fff;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    -mos-transition: .4s all;
    -o-transition: .4s all;
    transition: .4s all;
    cursor: pointer;
}

.navigation-menu a:hover {
    color: #faff00;
}

.navigation-menu li {
    display: inline;
    padding-right: 50px;
    color: #fff;
    margin-bottom: 180px;
}

.navigation-bar {
    margin-left: 50px;
}

.call-us {
    margin-top: 120px;
    padding: 10px 50px;
    background: rgba(0, 0, 0, .5);
    width: 510px;
}

.call-us h1 {
    color: #fff;
    font-size: 52px;
    font-weight: 400;
}

.banner-description p {
    padding-top: 30px;
    color: #fff;
    font-size: 16px;
}

.banner-description img {
    padding-top: 80px;
    padding-bottom: 30px;
}

.contact-button {}

.btn-default {
    padding: 20px 75px;
    background: transparent;
    border: 1px solid #fff;
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
    font-weight: 400;
    letter-spacing: 3px;
    margin-bottom: 180px;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    -mos-transition: .4s all;
    -o-transition: .4s all;
    transition: .4s all;
    cursor: pointer;
}

.btn-default:hover {
    background: #fff;
    border: 1px solid #fff;
    color: #000;
}

/* Home Page Second Section Start */
.home-info {
    padding-top: 125px;
    background-color: #f6f6f6;
    width: 100%;
    float: left;
}

.left-side {
    width: 570px;
    position: relative;
    float: left;
}

.right-side {
    width: 570px;
    position: relative;
    float: right;
    transform: translate(-270px, 72px);
}

.left-side h1 {
    font-size: 44px;
    padding-bottom: 20px;
    color: #333333;
    font-weight: 700;
}

.left-side hr {
    width: 3%;
    margin-bottom: 50px;
}

.left-side p {
    width: 70%;
    color: #888888;
}

.right-side img {
    width: 150%;
    -webkit-transition: 0.4s all;
    -moz-transition: 0.4s all;
    -mos-transition: 0.4s all;
    -o-transition: 0.4s all;
    transition: 0.4s all;
    cursor: pointer;
}

.right-side img:hover {
    transform: translateX(20px);
}

/* Home Page Second Section End */

/* Home Page Third Section Start */
.another {
    padding: 125px 0px;
    background-color: #28282e;
    width: 100%;
    float: left;
}

.another-left-side {
    width: 570px;
    position: relative;
    float: left;
}

.another-right-side {
    width: 570px;
    position: relative;
    float: right;
    transform: translate(-125px, 110px);
}

.another-left-side h1 {
    font-size: 44px;
    padding-bottom: 20px;
    color: #fff;
    font-weight: 700;
}

.another-left-side hr {
    width: 3%;
    margin-bottom: 50px;
}

.another-left-side p {
    width: 70%;
    color: #fff;
}

.another-right-side img {
    width: 124%;
    -webkit-transition: 0.4s all;
    -moz-transition: 0.4s all;
    -mos-transition: 0.4s all;
    -o-transition: 0.4s all;
    transition: 0.4s all;
    cursor: pointer;
}

.another-right-side img:hover {
    transform: translateY(20px);
}

.btn-white {
    padding: 20px;
    background: transparent;
    border: 1px solid #fff;
    text-transform: uppercase;
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    letter-spacing: 3px;
    margin-top: 80px;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    -mos-transition: .4s all;
    -o-transition: .4s all;
    transition: .4s all;
    cursor: pointer;
}

.btn-white:hover {
    background: #fff;
    border: 1px solid #fff;
    color: #000;
}

/* Home Page Third Section End */

/* Home Page Footer Section Start */
footer {
    background-color: #ef4035;
    width: 100%;
    float: left;
}

footer p {
    padding: 30px;
    text-align: center;
    color: #fff;
}

footer a {
    color: #fff;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    -mos-transition: .4s all;
    -o-transition: .4s all;
    transition: .4s all;
    cursor: pointer;
}

footer a:hover {
    color: #faff00;
}

/* Home Page Footer Section End */

/* About Page Header Section Start */
header {
    padding-top: 67px;
}

.about-logo {
    cursor: pointer;
}

.about-navigation-menu {
    float: right;
    margin-top: -47px;
    /*margin-right: 105px;*/
}

.about-navigation-menu a {
    color: #005e7e;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    -mos-transition: .4s all;
    -o-transition: .4s all;
    transition: .4s all;
    cursor: pointer;
}

.about-navigation-menu a:hover {
    color: #faff00;
}

.about-navigation-menu li {
    display: inline;
    padding-right: 50px;
    color: #005e7e;
    margin-bottom: 180px;
}

.about-navigation-bar {
    margin-left: 50px;
}

.about-image img {
    width: 100%;

}

.line {
    margin-bottom: -5px;
}

/* About Page Header Section End */
/* About Page About Section Start */

.about-logo img {}

.pr-0 {
    padding-right: 0px !important;
}

.about-navigation-bar {
    margin-left: 50px;
}

.about-info {
    padding-top: 30px;
}

.about-left-side {
    width: 570px;
    position: relative;
    float: left;
}

.about-right-side {
    width: 570px;
    position: relative;
    float: right;
}

.about-left-side h1 {
    font-size: 44px;
    color: #333333;
    font-weight: 700;
    text-transform: uppercase;
}

.about-left-side p {
    width: 89%;
    color: #6b6b6b;
    margin: 60px 0px 120px;
    text-align: justify;
}

.about-right-side img {
    width: 100%;
    transform: translate(-40px, 18px);
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    -mos-transition: .4s all;
    -o-transition: .4s all;
    transition: .4s all;
    cursor: pointer;
}

.about-right-side img:hover {
    transform: translate(0, 20px);
}

.about-right-side p {
    color: #6b6b6b;
    margin: 71px 0px 120px;
    text-align: justify;
}

/* About Page About Section End */

/* Contact Page Contact Section Start */
.contact-navigation-bar {
    margin-left: 50px;
}

.contact-info {
    padding-top: 40px;
    background-color: #ee4a3f;
    width: 100%;
    float: left;
}

.contact h1 {
    font-size: 44px;
    color: #fff;
    font-weight: 700;
}

.contact img {
    width: 100%;
    transform: translateY(-40px);
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    -mos-transition: .4s all;
    -o-transition: .4s all;
    transition: .4s all;
    cursor: pointer;
}

.contact img:hover {
    transform: translate(40px, -20px);
}

.contact p {
    width: 63%;
    color: #fff;
    transform: translateY(-70px);
    text-align: justify;
}

.information-left-side {
    width: 518px;
    position: relative;
    float: left;
    margin-bottom: 50px;
}

.information-middle-side {
    width: 518px;
    position: relative;
    float: left;
    margin-bottom: 50px;
}

.information-right-side {
    width: 104px;
    position: relative;
    float: right;
    margin-top: 110px;
}

.information-right-side img {
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    -mos-transition: .4s all;
    -o-transition: .4s all;
    transition: .4s all;
}

.information-right-side img:hover {
    margin-left: 20px;
}

label {
    color: #fff;
}

input {
    width: 85%;
    height: 60px;
    background-color: #ff6258;
    margin: 10px 0px 20px;
    border: none;
    padding-left: 15px;
    color: #fff;
    font-size: 16px;
    outline: none;
}

textarea {
    width: 82%;
    height: 30px;
    background-color: #ff6258;
    margin: 10px 0px 20px;
    border: none;
    padding: 15px;
    color: #fff;
    font-size: 16px;
    outline: none;
}

/* Contact Page Contact Section End */
